<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <form [formGroup]="form" *ngIf="!loading" (ngSubmit)="ingresar()">
            <img src="./assets/img/usuario.png" width="50%" alt="user_img">
            <h1>Login</h1>
            <mat-form-field class="width-input" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="width-input" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="contraseña">
            </mat-form-field>
            <br>
            <button type="submit" class="width-input btn-login" mat-raised-button color="primary" [disabled]="form.invalid">Iniciar sesion</button>
        </form>
    </div>
</div>
